  html {
    min-height: 100vh;
    font-family: 'Andika', sans-serif;
    background-color:#eae8e5;
    color: #2c221b;
  }
  #root {
    min-height: 100vh;
    font-family: 'Andika', sans-serif;
    background-color:#eae8e5;
    color: #2c221b;
  }
  